# VARIABLES AND DATA TYPES

In [7]:

a = 10
b = "Halo"
c = 1.3
d = True
e = False
f =[]
g = [1,2,3]
h = [1,'a']
i = {}
j = {'a':1, 'b':"Apin",'c':True}
k = ()
l = ("a",12,True)

# PRINT

In [8]:
#ordinary print
print(a)
print(b)
print(c)

10
Halo
1.3

In [18]:
#print a dictionary or any other list
print(j['b'])
print(g[1])
print(h[1])
print(l[2])

Apin
2
a
True

In [12]:
#other form of print
print("Halo nama saya ",j['b'])

Halo nama saya  Apin

In [13]:
print("Halo nama saya "+j['b'])

Halo nama saya Apin

In [14]:
print("Halo nama saya {}".format(j['b']))

Halo nama saya Apin

# OPERATOR

In [16]:
value_1 = 15
value_2 = 5
result = value_1 + value_2
result = value_1 - value_2
result = value_1 * value_2
result = value_1 ** value_2
result = value_1 / value_2
result = value_1 // value_2

# IF ELSE

In [17]:
test_value = 10.5
if ( test_value <10):
  print("Dibawah 10")
elif (test_value >10):
  print("Diatas 10")
else:
  print("sama dengan 10")

Diatas 10