# VARIABLES AND DATA TYPES

In [1]:

a = 10
b = "Halo"
c = 1.3
d = True
e = False
f =[]
g = [1,2,3]
h = [1,'a']
i = {}
j = {'a':1, 'b':"Apin",'c':True}
k = ()
l = ("a",12,True)

# PRINT

In [2]:
#ordinary print
print(a)
print(b)
print(c)

10
Halo
1.3

In [3]:
#print a dictionary or any other list
print(j['b'])
print(g[1])
print(h[1])
print(l[2])

Apin
2
a
True

In [4]:
#other form of print
print("Halo nama saya ",j['b'])

Halo nama saya  Apin

In [5]:
print("Halo nama saya "+j['b'])

Halo nama saya Apin

In [6]:
print("Halo nama saya {}".format(j['b']))

Halo nama saya Apin

# OPERATOR

In [7]:
value_1 = 15
value_2 = 5
result = value_1 + value_2
print(result)
result = value_1 - value_2
print(result)
result = value_1 * value_2
print(result)
result = value_1 ** value_2
print(result)
result = value_1 / value_2
print(result)
result = value_1 // value_2
print(result)

import math

math.sqrt(value_1)

20
10
75
759375
3.0
3

3.872983346207417

# IF ELSE

In [8]:
a = 1
b = 0
a==b
a!=b
a <b
a>b
a<=b
a>=b
True and True
True or False

True

In [9]:
test_value = 10.5
if ( test_value <10):
  print("Dibawah 10")
elif (test_value >10):
  print("Diatas 10")
else:
  print("sama dengan 10")

Diatas 10